{% extends 'base.html.twig' %}

{% block title %}Error! {{status_code}}{% endblock %}

{% block body %}
    <div class="container pt-5">
        <h1>Une erreur est survenue</h1>        
    </div>
{% endblock %}